html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

* {
  box-sizing: border-box;
}
._2cSbuLtnX_cOrYSxeyUZme {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer img {
  margin-left: 0.5rem;
}

footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}

._1uPz2lT9fVqVJNBexEHKSq a {
  color: #0070f3;
  text-decoration: none;
}

._1uPz2lT9fVqVJNBexEHKSq a:hover,
._1uPz2lT9fVqVJNBexEHKSq a:focus,
._1uPz2lT9fVqVJNBexEHKSq a:active {
  text-decoration: underline;
}

._1uPz2lT9fVqVJNBexEHKSq {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

._1uPz2lT9fVqVJNBexEHKSq,
._1bq3S9cD4rCBqMIX-wP7A- {
  text-align: center;
}

._1bq3S9cD4rCBqMIX-wP7A- {
  line-height: 1.5;
  font-size: 1.5rem;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

._3lWpOqgb0Ngx5rDfS3QbYu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  max-width: 800px;
  margin-top: 3rem;
}

._2F-PckgHMTzQjyCoh7kwU7 {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

._2F-PckgHMTzQjyCoh7kwU7:hover,
._2F-PckgHMTzQjyCoh7kwU7:focus,
._2F-PckgHMTzQjyCoh7kwU7:active {
  color: #0070f3;
  border-color: #0070f3;
}

._2F-PckgHMTzQjyCoh7kwU7 h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

._2F-PckgHMTzQjyCoh7kwU7 p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

._1tNzgJsJwXMqFQ0a4xMkPk {
  height: 1em;
}

@media (max-width: 600px) {
  ._3lWpOqgb0Ngx5rDfS3QbYu {
    width: 100%;
    flex-direction: column;
  }

  .a527XW3sK58ebzLjPn9_f {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  ._1tNzgJsJwXMqFQ0a4xMkPk {
    display: none;
  }

  ._2woEEXfDz5-mqta6Mg0ypH {
    flex-direction: row;
  }

  ._2hGxrjU6QIxytRAxRBK7BE {
    justify-content: center;
  }

  main {
    margin: 0;
  }
}

@media only screen and (min-width: 600px) {
  .a527XW3sK58ebzLjPn9_f {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .a527XW3sK58ebzLjPn9_f:hover {
    width: 16rem;
  }

  .a527XW3sK58ebzLjPn9_f:hover ._3Ole4VFDXRtCgMiG85H3jY {
    display: inline;
    transition: opacity var(--transition-speed);
  }
}

:root {
  font-size: 16px;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: greenyellow;
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

.a527XW3sK58ebzLjPn9_f {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 200ms ease;
}

._2woEEXfDz5-mqta6Mg0ypH {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.U-eJfwezW5gTkQD3dwELD {
  width: 100%;
}

.U-eJfwezW5gTkQD3dwELD:last-child {
  margin-top: auto;
}

._2hGxrjU6QIxytRAxRBK7BE {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

._2hGxrjU6QIxytRAxRBK7BE:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

._2hGxrjU6QIxytRAxRBK7BE svg {
  min-width: 2rem;
  margin: 0 1.5rem;
}

.a527XW3sK58ebzLjPn9_f:hover {
  width: 16rem;
}

.a527XW3sK58ebzLjPn9_f:hover ._3Ole4VFDXRtCgMiG85H3jY {
  display: block;
}

._3Ole4VFDXRtCgMiG85H3jY {
  display: none;
  margin-left: 1rem;
}

._20OWC4NS3qgpTw3l4a6HpM {
  color: #ff7eee;
}

._31YPbJr090rat1EQpnf8fC {
  color: #df49a6;
}

._20OWC4NS3qgpTw3l4a6HpM,
._31YPbJr090rat1EQpnf8fC {
  transition: var(--transition-speed);
}

._1tNzgJsJwXMqFQ0a4xMkPk {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

._1tNzgJsJwXMqFQ0a4xMkPk svg {
  transform: rotate(0deg);
  transition: transform var(--transition-speed);
}

.a527XW3sK58ebzLjPn9_f:hover ._1tNzgJsJwXMqFQ0a4xMkPk svg {
  transform: rotate(-180deg);
}
